<aside>
üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

</aside>

In [7]:
def power_of_two(n):
    if n%2==0:
      return True
    else:
      return False
    
    return dp[m][n]

In [8]:
n= 7
print(power_of_two(n))

False

<aside>
üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

</aside>

In [16]:
def sum_n(n):   
    if n == 1:
      return 1
    else: 
      return n + sum_n(n-1)

In [20]:
n = 20
print(sum_n(n))

210

<aside>
üí° **Question 3**

****Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [21]:
def factorial(n):
    if n==1:
      return 1
    return n*factorial(n-1)

In [23]:
n=5
print(factorial(n))

120

<aside>
üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [26]:
def exponent(N,P):
    if P == 0:
      return 1
    else:
      return N*exponent(N,P-1)

In [27]:
N = 5
P = 2

print(exponent(N,P))

25

<aside>
üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [30]:
def maximum_ele(arr):
    
    l = len(arr)
    if l==1:
      return arr[0]
    else:
        if arr[l-1] > arr[l-2]:
          arr.remove(arr[l-2])
        elif arr[l-1] < arr[l-2]:
          arr.remove(arr[l-1])
        
    return maximum_ele(arr)

In [33]:
arr = [1, 4, 45, 76, 6, 10, -8]
print(maximum_ele(arr))

76

<aside>
üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [36]:
def  Arithmetic_Progression(a,d,N):
    if N == 1:
      return a
    return d + Arithmetic_Progression(a,d,N-1)

In [37]:
a = 5
d = 2
N = 10
res = Arithmetic_Progression(a,d,N)
print(res)

23

<aside>
üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

In [38]:
from itertools import permutations

def all_permutations(s):
    perms = [''.join(p) for p in permutations(s)]
    return perms

s = input("Enter a string: ")
print("All permutations of", s, "are:", all_permutations(s))

Enter a string: ABS
All permutations of ABS are: ['ABS', 'ASB', 'BAS', 'BSA', 'SAB', 'SBA']

Question 8

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

In [44]:
def product(arr):
    n = len(arr)
    if n==1:
      return arr[0]
    return arr[n-1]*product(arr[:n-1])

In [46]:
arr = [1, 2, 10, 4, 5]
result = product(arr)
print(result)

400